@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar{
  width: 10px;
  height: 20px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background: #d59d42;
  border-radius: 90px;
}

h2,input,textarea {
  font-family: "Satisfy", cursive;
}

.scroll-to-top{
  padding-left: 20px !important;
}

.scroll-to-top:hover{
  background: #d59d42;
}


@layer utilities {
  .navlink {
    @apply hover:text-yellow-600 cursor-pointer transition-all duration-300 relative mb-10;
  }
  .navlink::after {
    @apply content-[''] bg-yellow-600 h-[2px] w-[0%] absolute -left-0 -bottom-0 duration-300 rounded-full;
  }
  .navlink:hover::after {
    @apply lg:w-[70%] w-[50%];
  }
  .menubar {
    @apply bg-white h-[2px] transition-all duration-700;
  }

  button {
    @apply bg-yellow-600 hover:bg-yellow-700 text-white transition-colors duration-300 px-[44px] py-2 rounded-3xl text-[20px] my-[30px];
  }

  h2 {
    @apply text-xl font-semibold;
  }

  .line {
    @apply w-4 h-[2px] bg-yellow-600 transition-all duration-700;
  }

  .line2 {
    @apply px-[20px] py-[10px] transition-all duration-700;
  }

  .title {
    @apply text-3xl font-semibold relative;
  }
  .title::after {
    @apply content-[''] bg-yellow-600 h-[2px]  w-[80px] absolute -left-2 -bottom-1 duration-300 rounded-full;
  }

  input {
    @apply w-full lg:my-2 my-4 rounded-lg px-4 py-2 border-2 border-gray-200 text-xl text-slate-400;
  }
}
